<section class="viking-card"> 
    <div *ngIf="ejemplar" class="viking-text">
     <h3>{{ ejemplar.nombre }}</h3>
     <p><b>{{ejemplar.titles}}</b></p>
      <p>Raza: {{ ejemplar.raza }}</p>
      <p>Color: {{ ejemplar.color }}</p>
      <p>Sexo: {{ ejemplar.sexo }}</p>
    </div>
    <div id="carouselExampleControls" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../img/Viking/principal.jpg" class="d-block carousel-image">
          </div>
          <div class="carousel-item">
            <img src="../img/Viking/viking.jpg" class="d-block carousel-image">
          </div>
          <div class="carousel-item">
            <img src="../img/Viking/viking .jpg" class="d-block carousel-image">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
      
</section>

<div class="block-inner">
    <div class="content">
        <table class="dogspedigree">
            <tbody>
                <tr>
                    <td rowspan="8" class="even">
                        <div class="name">
                            <a href="https://dachpedigrees.com/dog/lisego-nosa-nevsky-nid/394635">Lisego Nosa Nevsky</a>
                        </div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/lisego-nosa-nevsky-nid/394635"><img width="150px" border="0"
                                    src="https://dachpedigrees.com/sites/default/files/bim_0.jpg"></a></div>
                        <div class="titles"><b>RUSJCH</b></div>
                        <div class="name" style="font-size: x-small;"> <i> Chocolate &amp; Tan Dapple,
                                <br>Zwerg-dachshund (teckel) kurzhaar</i> </div>
                    </td>
                    <td rowspan="4" class="even">
                        <div class="name"><a href="https://dachpedigrees.com/dog/criscross-defense-ms-nid/13450">Criscross For The Defense ms</a>
                        </div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/criscross-defense-ms-nid/13450"><img width="150px" border="0"
                                    src="https://dachpedigrees.com/sites/default/files/Criscross%20For%20The%20Defense%20ms.jpg"></a></div>
                        <div class="titles"><b>AMCH</b></div>
                        <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Zwerg-dachshund (teckel)
                                kurzhaar</i> </div>
                    </td>
                    <td rowspan="2" class="even">
                        <div class="name"><a href="https://dachpedigrees.com/dog/criscross-meant-be-msc-nid/10767">CRISCROSS MEANT TO BE MSC</a>
                        </div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/criscross-meant-be-msc-nid/10767"><img width="150px" border="0"
                                    src="https://dachpedigrees.com/sites/default/files/CRISCROSS%20MEANT%20TO%20BE%20MSC.jpg"></a></div>
                        <div class="titles"><b>AMCH</b></div>
                        <div class="name" style="font-size: x-small;"> <i> <br>Zwerg-dachshund (teckel) kurzhaar</i>
                        </div>
                    </td>
                    <td class="even">
                        <div class="name"><a href="https://dachpedigrees.com/dog/sunrise-add-sims-guardian-ms-nid/12320">Sunrise Add-Sim's
                                Guardian MS</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/sunrise-add-sims-guardian-ms-nid/12320"><img width="150px"
                                    border="0" src="https://dachpedigrees.com/sites/default/files/Sunrise%20Add-Sim's%20Guardian%20MS.jpg"></a></div>
                        <div class="titles"><b>LUXJCH, NJK, NLCH</b></div>
                        <div class="name" style="font-size: x-small;"> <i> <br>Dachshund (teckel) kurzhaar</i> </div>
                    </td>
                </tr>
                <tr>
                    <td class="odd">
                        <div class="name"><a href="https://dachpedigrees.com/dog/sunrise-add-sims-guardian-ms-nid/12320">Laurjosh's Sothern
                                Exposure MS</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/sunrise-add-sims-guardian-ms-nid/12320"><img width="150px"
                                    border="0" src="https://dachpedigrees.com/sites/default/files/Laurjosh's%20Sothern%20Exposure%20MS.jpg"></a></div>
                        <div class="titles"><b></b></div>
                        <div class="name" style="font-size: x-small;"> <i> <br>Dachshund (teckel) rauhhaar</i> </div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" class="odd">
                        <div class="name"><a href="https://dachpedigrees.com/dog/criscross-laurjosh-southern-song-ms-nid/13451">Criscross
                                Laurjosh Southern Song ms</a></div>
                        <div class="titles"><b></b></div>
                        <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                                kurzhaar</i> </div>
                    </td>
                    <td class="even">
                        <div class="name"><a href="https://dachpedigrees.com/dog/criscross-ides-march-nid/13452">Criscross Ides Of March</a>
                        </div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/criscross-ides-march-nid/13452"><img width="150px" border="0"
                                    src="https://dachpedigrees.com/sites/default/files/CRISCROSS%20IDES%20OF%20MARCH%20MS.jpg"></a></div>
                        <div class="titles"><b>AMCH</b></div>
                        <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                                kurzhaar</i> </div>
                    </td>
                </tr>
                <tr>
                    <td class="odd">
                        <div class="name"><a href="https://dachpedigrees.com/dog/laurjoshs-sothern-exposure-ms-nid/10770">Laurjosh's Sothern
                                Exposure MS</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/laurjoshs-sothern-exposure-ms-nid/10770"><img width="150px"
                                    border="0" src="https://dachpedigrees.com/sites/default/files/Ch-Laurjosh-s_Sothern_Exposure_MS.jpg"></a>
                        </div>
                        <div class="titles"><b>AMCH</b></div>
                        <div class="name" style="font-size: x-small;"> <i> red, <br>Zwerg-dachshund (teckel)
                                kurzhaar</i> </div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="4" class="odd">
                        <div class="name"><a href="https://dachpedigrees.com/dog/lisego-nosa-brogan-arish-cream-nid/390772">Lisego Nosa Brogan
                                Arish Cream</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/lisego-nosa-brogan-arish-cream-nid/390772"><img width="150px"
                                    border="0" src="https://dachpedigrees.com/sites/default/files/3.jpg"></a></div>
                        <div class="titles"><b>RUSCH, RUSJCH, FT-BL. TR.</b></div>
                        <div class="name" style="font-size: x-small;"> <i> Chocolate &amp; Tan Dapple, <br>Kaninchen-
                                dachshund (teckel) kurzhaar</i> </div>
                    </td>
                    <td rowspan="2" class="maletwice">
                        <div class="name"><a href="https://dachpedigrees.com/dog/muhomor-iz-omskoi-kreposti-nid/10365">Muhomor iz Omskoi
                                Kreposti</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/muhomor-iz-omskoi-kreposti-nid/10365"><img width="150px"
                                    border="0" src="https://dachpedigrees.com/sites/default/files/b3c5cf3777aa.jpg"></a></div>
                        <div class="titles"><b>INTCH</b></div>
                        <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Kaninchen- dachshund
                                (teckel) kurzhaar</i> </div>
                    </td>
                    <td class="maletwice">
                        <div class="name"><a href="https://dachpedigrees.com/dog/makov-tsvet-iz-omskoj-kreposti-nid/19">Makov Tsvet iz Omskoj
                                Kreposti</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/makov-tsvet-iz-omskoj-kreposti-nid/19"><img width="150px"
                                    border="0" src="https://dachpedigrees.com/sites/default/files/tsvet.jpg"></a></div>
                        <div class="titles"><b>INTCH(FCI), MOLCH, RKFCH, RUSCH, RUSJCH</b></div>
                        <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Kaninchen- dachshund
                                (teckel) kurzhaar</i> </div>
                    </td>
                </tr>
                <tr>
                    <td class="femalethree">
                        <div class="name"><a href="https://dachpedigrees.com/dog/muha-tsokotukha-iz-omskoi-kreposti-nid/9572">Muha Tsokotukha iz
                                Omskoi Kreposti</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/muha-tsokotukha-iz-omskoi-kreposti-nid/9572"><img width="150px"
                                    border="0" src="https://dachpedigrees.com/sites/default/files/1_15.jpg"></a></div>
                        <div class="titles"><b>INTCH(FCI), EUW, RKFCH, RUSCH, RUSJCH</b></div>
                        <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                                kurzhaar</i> </div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" class="odd">
                        <div class="name"><a href="https://dachpedigrees.com/dog/lisego-nosa-terrakota-nid/301221">Lisego Nosa Terrakota</a>
                        </div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/lisego-nosa-terrakota-nid/301221"><img width="150px" border="0"
                                    src="https://dachpedigrees.com/sites/default/files/terra.jpg"></a></div>
                        <div class="titles"><b>BLRCH, EECH, RUSCH, RUSJCH, FT-FOX, FT-BL. TR.</b></div>
                        <div class="name" style="font-size: x-small;"> <i> Chocolate &amp; Tan Dapple,
                                <br>Zwerg-dachshund (teckel) kurzhaar</i> </div>
                    </td>
                    <td class="maletwice">
                        <div class="name"><a href="https://dachpedigrees.com/dog/lisego-nosa-fantastic-nid/31">Lisego Nosa Fantastic</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/lisego-nosa-fantastic-nid/31"><img width="150px" border="0"
                                    src="https://dachpedigrees.com/sites/default/files/lis-nosa-fantastic.jpg"></a></div>
                        <div class="titles"><b>INTCH(FCI), WW, EECH, FINCH, LTCH, LVCH, PLCH, RKFCH, RUSCH, RUSJCH,
                                UKRCH, FT-FOX, FT-BL. TR.</b></div>
                        <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Kaninchen- dachshund
                                (teckel) kurzhaar</i> </div>
                    </td>
                </tr>
                <tr>
                    <td class="odd">
                        <div class="name"><a href="https://dachpedigrees.com/dog/nee-pup-dachshaus-nid/301165">Nee Pup Dachshaus</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/nee-pup-dachshaus-nid/301165"><img width="150px" border="0"
                                    src="https://dachpedigrees.com/sites/default/files/nee.jpg"></a></div>
                        <div class="titles"><b></b></div>
                        <div class="name" style="font-size: x-small;"> <i> Black &amp; Tan Dapple, <br>Zwerg-dachshund
                                (teckel) kurzhaar</i> </div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="8" class="odd">
                        <div class="name"><a href="https://dachpedigrees.com/dog/poprygunya-strekoza-iz-omskoi-kreposti-nid/10781">Poprygunya
                                strekoza iz Omskoi kreposti</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/poprygunya-strekoza-iz-omskoi-kreposti-nid/10781"><img
                                    width="150px" border="0" src="https://dachpedigrees.com/sites/default/files/DSC03422%D0%B0%D0%B011.jpg"></a></div>
                        <div class="titles"><b>RKFCH, RUSCH, RUSJCH</b></div>
                        <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Kaninchen- dachshund
                                (teckel) kurzhaar</i> </div>
                    </td>
                    <td rowspan="4" class="maletwice">
                        <div class="name"><a href="https://dachpedigrees.com/dog/muhomor-iz-omskoi-kreposti-nid/10365">Muhomor iz Omskoi
                                Kreposti</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/muhomor-iz-omskoi-kreposti-nid/10365"><img width="150px"
                                    border="0" src="https://dachpedigrees.com/sites/default/files/b3c5cf3777aa.jpg"></a></div>
                        <div class="titles"><b>INTCH</b></div>
                        <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Kaninchen- dachshund
                                (teckel) kurzhaar</i> </div>
                    </td>
                    <td rowspan="2" class="maletwice">
                        <div class="name"><a href="https://dachpedigrees.com/dog/makov-tsvet-iz-omskoj-kreposti-nid/19">Makov Tsvet iz Omskoj
                                Kreposti</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/makov-tsvet-iz-omskoj-kreposti-nid/19"><img width="150px"
                                    border="0" src="https://dachpedigrees.com/sites/default/files/tsvet.jpg"></a></div>
                        <div class="titles"><b>INTCH(FCI), MOLCH, RKFCH, RUSCH, RUSJCH</b></div>
                        <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Kaninchen- dachshund
                                (teckel) kurzhaar</i> </div>
                    </td>
                    <td class="even">
                        <div class="name"><a href="https://dachpedigrees.com/dog/lisego-nosa-artishok-kuzya-nid/27">Lisego Nosa ARTISHOK
                                KUZYA</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/lisego-nosa-artishok-kuzya-nid/27"><img width="150px"
                                    border="0" src="https://dachpedigrees.com/sites/default/files/%20%D0%BA%D1%83%D0%B7%D1%8F.jpg"></a></div>
                        <div class="titles"><b>INTCH(FCI), EECH, FINCH, LTCH, LVCH, RUSCH, FT-FOX, FT-BL. TR.</b></div>
                        <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                                kurzhaar</i> </div>
                    </td>
                </tr>
                <tr>
                    <td class="femaletwise">
                        <div class="name"><a href="https://dachpedigrees.com/dog/makovoe-zernyshko-iz-omskoj-kreposti-nid/28">Makovoe Zernyshko
                                iz Omskoj Kreposti</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/makovoe-zernyshko-iz-omskoj-kreposti-nid/28"><img width="150px"
                                    border="0" src="https://dachpedigrees.com/sites/default/files/mak2.jpg"></a></div>
                        <div class="titles"><b>RKFCH, RUSJCH</b></div>
                        <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Kaninchen- dachshund
                                (teckel) kurzhaar</i> </div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" class="femalethree">
                        <div class="name"><a href="https://dachpedigrees.com/dog/muha-tsokotukha-iz-omskoi-kreposti-nid/9572">Muha Tsokotukha iz
                                Omskoi Kreposti</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/muha-tsokotukha-iz-omskoi-kreposti-nid/9572"><img width="150px"
                                    border="0" src="https://dachpedigrees.com/sites/default/files/1_15.jpg"></a></div>
                        <div class="titles"><b>INTCH(FCI), EUW, RKFCH, RUSCH, RUSJCH</b></div>
                        <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                                kurzhaar</i> </div>
                    </td>
                    <td class="maletwice">
                        <div class="name"><a href="https://dachpedigrees.com/dog/lisego-nosa-bumerang-nid/9541">Lisego Nosa Bumerang</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/lisego-nosa-bumerang-nid/9541"><img width="150px" border="0"
                                    src="https://dachpedigrees.com/sites/default/files/1_12.jpg"></a></div>
                        <div class="titles"><b>WW, EUW, BRACH, LUXCH, LVCH, PLCH, ROMCH, FT-FOX, FT-BL. TR.</b></div>
                        <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                                kurzhaar</i> </div>
                    </td>
                </tr>
                <tr>
                    <td class="femaletwise">
                        <div class="name"><a href="https://dachpedigrees.com/dog/monetka-zvonkaya-iz-strani-grez-nid/9581">Monetka Zvonkaya iz
                                Strani Grez</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/monetka-zvonkaya-iz-strani-grez-nid/9581"><img width="150px"
                                    border="0" src="https://dachpedigrees.com/sites/default/files/monetka-zvonkaya-strany-grez.jpg"></a></div>
                        <div class="titles"><b>RKFCH, RUSCH, FT-FOX</b></div>
                        <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                                kurzhaar</i> </div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="4" class="femaletwise">
                        <div class="name"><a href="https://dachpedigrees.com/dog/makovoe-zernyshko-iz-omskoj-kreposti-nid/28">Makovoe Zernyshko
                                iz Omskoj Kreposti</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/makovoe-zernyshko-iz-omskoj-kreposti-nid/28"><img width="150px"
                                    border="0" src="https://dachpedigrees.com/sites/default/files/mak2.jpg"></a></div>
                        <div class="titles"><b>RKFCH, RUSJCH</b></div>
                        <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Kaninchen- dachshund
                                (teckel) kurzhaar</i> </div>
                    </td>
                    <td rowspan="2" class="maletwice">
                        <div class="name"><a href="https://dachpedigrees.com/dog/lisego-nosa-fantastic-nid/31">Lisego Nosa Fantastic</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/lisego-nosa-fantastic-nid/31"><img width="150px" border="0"
                                    src="https://dachpedigrees.com/sites/default/files/lis-nosa-fantastic.jpg"></a></div>
                        <div class="titles"><b>INTCH(FCI), WW, EECH, FINCH, LTCH, LVCH, PLCH, RKFCH, RUSCH, RUSJCH,
                                UKRCH, FT-FOX, FT-BL. TR.</b></div>
                        <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Kaninchen- dachshund
                                (teckel) kurzhaar</i> </div>
                    </td>
                    <td class="even">
                        <div class="name"><a href="https://dachpedigrees.com/dog/lisego-nosa-don-juan-nid/23">Lisego Nosa Don Juan</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/lisego-nosa-don-juan-nid/23"><img width="150px" border="0"
                                    src="https://dachpedigrees.com/sites/default/files/635556089.jpg"></a></div>
                        <div class="titles"><b>INTCH, WW, EUW, EUJW, BLRCH, RKFCH, RUSCH, VDHCH, FT-FOX, FT-BL. TR.,
                                RBT</b></div>
                        <div class="name" style="font-size: x-small;"> <i> red, <br>Kaninchen- dachshund (teckel)
                                kurzhaar</i> </div>
                    </td>
                </tr>
                <tr>
                    <td class="odd">
                        <div class="name"><a href="https://dachpedigrees.com/dog/lisego-nosa-hitraya-kroha-nid/9380">Lisego Nosa Hitraya
                                Kroha</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/lisego-nosa-hitraya-kroha-nid/9380"><img width="150px"
                                    border="0" src="https://dachpedigrees.com/sites/default/files/Lis_nosa_Hitray_Kroha.jpg"></a></div>
                        <div class="titles"><b>RUSCH</b></div>
                        <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                                kurzhaar</i> </div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" class="femalethree">
                        <div class="name"><a href="https://dachpedigrees.com/dog/muha-tsokotukha-iz-omskoi-kreposti-nid/9572">Muha Tsokotukha iz
                                Omskoi Kreposti</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/muha-tsokotukha-iz-omskoi-kreposti-nid/9572"><img width="150px"
                                    border="0" src="https://dachpedigrees.com/sites/default/files/1_15.jpg"></a></div>
                        <div class="titles"><b>INTCH(FCI), EUW, RKFCH, RUSCH, RUSJCH</b></div>
                        <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                                kurzhaar</i> </div>
                    </td>
                    <td class="maletwice">
                        <div class="name"><a href="https://dachpedigrees.com/dog/lisego-nosa-bumerang-nid/9541">Lisego Nosa Bumerang</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/lisego-nosa-bumerang-nid/9541"><img width="150px" border="0"
                                    src="https://dachpedigrees.com/sites/default/files/1_12.jpg"></a></div>
                        <div class="titles"><b>WW, EUW, BRACH, LUXCH, LVCH, PLCH, ROMCH, FT-FOX, FT-BL. TR.</b></div>
                        <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                                kurzhaar</i> </div>
                    </td>
                </tr>
                <tr>
                    <td class="femaletwise">
                        <div class="name"><a href="https://dachpedigrees.com/dog/monetka-zvonkaya-iz-strani-grez-nid/9581">Monetka Zvonkaya iz
                                Strani Grez</a></div>
                        <div class="photo"><a href="https://dachpedigrees.com/dog/monetka-zvonkaya-iz-strani-grez-nid/9581"><img width="150px"
                                    border="0" src="https://dachpedigrees.com/sites/default/files/monetka-zvonkaya-strany-grez.jpg"></a></div>
                        <div class="titles"><b>RKFCH, RUSCH, FT-FOX</b></div>
                        <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                                kurzhaar</i> </div>
                    </td>
                </tr>
            </tbody>
        </table>
  <table width="100%">
    <tbody><tr class="odd">
      <td style="width: 50px;" class="femaletwise"></td>
      <td>Female present twice in 4 generation pedigree</td>
    </tr>
    <tr class="even">
      <td style="width: 50px;" class="maletwice"></td>
      <td>Male present twice in 4 generation pedigree</td>
    </tr>
    <tr class="odd">
      <td style="width: 50px;" class="femalethree"></td>
      <td>Female present three times in 4 generation pedigree</td>
    </tr>
    <tr class="even">      
      <td style="width: 50px;" class="malethree"></td>
      <td>Male present three times in 4 generation pedigree</td>
    </tr>
    <tr class="odd">
      <td style="width: 50px;" class="femalefour"></td>
      <td>Female present four times in 4 generation pedigree</td>
    </tr>
    <tr class="even">
      <td style="width: 50px;" class="malefour"></td>
      <td>Male present four times in 4 generation pedigree</td>
    </tr>
  </tbody></table>    </div>
   
  </div>