<div id="pedigreeTable"></div>

<div class="pedigree-legend">
  <div class="legend-item femaletwise">Hembra presente dos veces en el pedigree de 4 generaciones</div>
  <div class="legend-item maletwice">Macho presente dos veces en el pedigree de 4 generaciones</div>
  <div class="legend-item femalethree">Hembra presente tres veces en el pedigree de 4 generaciones</div>
  <div class="legend-item malethree">Macho presente tres veces en el pedigree de 4 generaciones</div>
  <div class="legend-item femalefour">Hembra presente cuatro veces en el pedigree de 4 generaciones</div>
  <div class="legend-item malefour">Macho presente cuatro veces en el pedigree de 4 generaciones</div>
</div>

