<div id="pedigreeTable"></div>

<div class="pedigree-legend">
  <div class="legend-item femaletwise">Female present twice in 4 generation pedigree</div>
  <div class="legend-item maletwice">Male present twice in 4 generation pedigree</div>
  <div class="legend-item femalethree">Female present three times in 4 generation pedigree</div>
  <div class="legend-item malethree">Male present three times in 4 generation pedigree</div>
  <div class="legend-item femalefour">Female present four times in 4 generation pedigree</div>
  <div class="legend-item malefour">Male present four times in 4 generation pedigree</div>
</div>

