<section class="cachorro4-card">
    <div *ngIf="cachorro" class="cachorro4-text">
      <h3>{{ cachorro.nombre }}</h3>
      <p><b>{{cachorro.titles}}</b></p>
      <p>Raza: {{ cachorro.raza }}</p>
      <p>Color: {{ cachorro.color }}</p>
      <p>Sexo: {{ cachorro.sexo }}</p>
    </div>
    <div id="carouselExampleControls" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../img/venividivici/web/principal.JPG" class="d-block carousel-image" alt="{{ cachorro.nombre }}">
        </div>
        <div class="carousel-item">
          <img src="../img/venividivici/web/01.JPG" class="d-block carousel-image" alt="{{ cachorro.nombre }}">
        </div>
        <div class="carousel-item">
          <img src="../img/venividivici/web/02.JPG" class="d-block carousel-image" alt="{{ cachorro.nombre }}">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
