<header class="header">

  <div class="logo-wrapper">
    <img
      class="logo"
      src="assets/logo.png"
      alt="Teckels Brisas del Arrayán"
    />
  </div>

  <ul class="social">

    <li>
      <a
        href="https://www.instagram.com/brisasdelarrayan/"
        target="_blank"
      >
        <img src="assets/icons/instagram.png" alt="Instagram">
      </a>
    </li>

    <li>
      <a
        href="https://www.facebook.com/brisasdelarrayan"
        target="_blank"
      >
        <img src="assets/icons/facebook.png" alt="Facebook">
      </a>
    </li>

    <li>
      <a href="mailto:brisasdelarrayan@hotmail.com">
        <img src="assets/icons/gmail.png" alt="Correo">
      </a>
    </li>

    <li>
      <button
        class="settings-btn"
        (click)="openLoginModal()"
      >
        <img src="assets/icons/engranaje.png" alt="Admin">
      </button>
    </li>

  </ul>

</header>