.card {

  cursor: pointer;

  background: white;

  border-radius: 1rem;

  overflow: hidden;

  box-shadow: 0 4px 12px rgba(0,0,0,.1);

  transition: .3s;

  &:hover {

    transform: translateY(-5px);

  }

}

.card-image {

  width: 100%;

  height: 260px;

  object-fit: cover;

}

.card-content {

  padding: 1rem;

}