<section class="Oliver-card">
    <div *ngIf="ejemplar" class="Oliver-text">
        <h3>{{ ejemplar.nombre }}</h3>
        <p><b>{{ejemplar.titles}}</b></p>
        <p>Raza: {{ ejemplar.raza }}</p>
        <p>Color: {{ ejemplar.color }}</p>
        <p>Sexo: {{ ejemplar.sexo }}</p>
    </div>
    <div id="carouselExampleControls" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../img/Oliver/07.jpg" class="d-block carousel-image" alt="{{ ejemplar.nombre }}">
            </div>
            <div class="carousel-item">
                <img src="../img/Oliver/inbound4851105564258399311.jpg" class="d-block carousel-image"
                    alt="{{ ejemplar.nombre }}">
            </div>
            <div class="carousel-item">
                <img src="../img/Fortuna/fortunaweb/800x600pul.jpg" class="d-block carousel-image"
                    alt="{{ ejemplar.nombre }}">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
        <div class="block-inner">


            <div class="content">
                <table class="dogspedigree">
                    <tr>
                        <td rowspan="8" class="even">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/mira%E2%80%99s-dorg-vikont-nid/403937">Mira’s Dorg
                                    Vikont</a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/mira%E2%80%99s-dorg-vikont-nid/403937"><img width="150px"
                                        border="0" src="https://www.dachpedigrees.com/sites/default/files/kT77fDrOPrA.jpg"></a></div>
                            <div class="titles"><b>RKFCH, RUSCH, RUSJCH</b></div>
                            <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Zwerg-dachshund
                                    (teckel) kurzhaar</i> </div>
                        </td>
                        <td rowspan="4" class="even">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/minidogland-light-rey-nid/348390">Minidogland Light Rey</a>
                            </div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/minidogland-light-rey-nid/348390"><img width="150px"
                                        border="0" src="https://www.dachpedigrees.com/sites/default/files/w4awFSQk35A_0.jpg"></a></div>
                            <div class="titles"><b>RUSCH, RUSJCH, YUCH</b></div>
                            <div class="name" style="font-size: x-small;"> <i> Creamy Red, <br>Zwerg-dachshund (teckel)
                                    kurzhaar</i> </div>
                        </td>
                        <td rowspan="2" class="even">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/monteckel-prince-staiers-nid/12160">Monteckel Prince for
                                    Staier&#039;s</a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/monteckel-prince-staiers-nid/12160"><img width="150px"
                                        border="0" src="https://www.dachpedigrees.com/sites/default/files/C%D1%82%D0%BE%D0%B9%D0%BA%D0%B0_%D0%B2%20%D0%B4%D1%80%D1%83%D0%B3%D1%83%D1%8E%20%D1%81%D1%82%D0%BE%D1%80%D0%BE%D0%BD%D1%83.jpg"></a></div>
                            <div class="titles"><b>BLRCH, RKFCH, RUSCH, RUSJCH</b></div>
                            <div class="name" style="font-size: x-small;"> <i> Creamy Red, <br>Zwerg-dachshund (teckel)
                                    kurzhaar</i> </div>
                        </td>
                        <td class="even">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/mal-zolotnik-iz-omskoi-kreposti-nid/10364">Mal Zolotnik Iz
                                    Omskoi Kreposti</a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/mal-zolotnik-iz-omskoi-kreposti-nid/10364"><img
                                        width="150px" border="0" src="https://www.dachpedigrees.com/sites/default/files/mal%20zolotnik%203.jpg"></a>
                            </div>
                            <div class="titles"><b>INTCH(FCI), RUSCH, RUSJCH</b></div>
                            <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Zwerg-dachshund
                                    (teckel) kurzhaar</i> </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="odd">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/gran%C2%B4s-designer-flare-nid/10709">Gran´s Designer Flare
                                </a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/gran%C2%B4s-designer-flare-nid/10709"><img width="150px"
                                        border="0" src="https://www.dachpedigrees.com/sites/default/files/med_4f2d99d57e63a.JPG"></a></div>
                            <div class="titles"><b>INTCH, BLRCH, CANCH, CYCH, LTCH, MOLCH, RKFCH, RUSCH</b></div>
                            <div class="name" style="font-size: x-small;"> <i> red, <br>Zwerg-dachshund (teckel)
                                    kurzhaar</i> </div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="odd">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/chinuk-funt-zolota-dlja-mdl-iz-taksagrada-nid/13557">Chinuk
                                    Funt Zolota dlja mdl iz Taksagrada</a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/chinuk-funt-zolota-dlja-mdl-iz-taksagrada-nid/13557"><img
                                        width="150px" border="0" src="https://www.dachpedigrees.com/sites/default/files/%20-%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.jpg"></a></div>
                            <div class="titles"><b>BLRCH, BLRJCH, GEOCH, MOLCH, RKFCH, RUSCH, RUSJCH, SLOCH, UKRCH</b>
                            </div>
                            <div class="name" style="font-size: x-small;"> <i> red, <br>Kaninchen- dachshund (teckel)
                                    kurzhaar</i> </div>
                        </td>
                        <td class="even">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/funtik-shpuntik-iz-omskoy-kreposti-nid/13559">Funtik
                                    Shpuntik iz Omskoy Kreposti</a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/funtik-shpuntik-iz-omskoy-kreposti-nid/13559"><img
                                        width="150px" border="0" src="https://www.dachpedigrees.com/sites/default/files/%20-%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F_0.jpg"></a></div>
                            <div class="titles"><b></b></div>
                            <div class="name" style="font-size: x-small;"> <i> red, <br>Kaninchen- dachshund (teckel)
                                    kurzhaar</i> </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="odd">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/rus-lisie-uho-gulchatay-otkroy-lichiko-nid/355983">Rus Lisie
                                    Uho Gulchatay Otkroy Lichiko</a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/rus-lisie-uho-gulchatay-otkroy-lichiko-nid/355983"><img
                                        width="150px" border="0" src="https://www.dachpedigrees.com/sites/default/files/%20-%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F_1.jpg"></a></div>
                            <div class="titles"><b></b></div>
                            <div class="name" style="font-size: x-small;"> <i> red, <br>Zwerg-dachshund (teckel)
                                    kurzhaar</i> </div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4" class="odd">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/eksellenta-kapuchino-nid/403936">EKSELLENTA KAPUCHINO </a>
                            </div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/eksellenta-kapuchino-nid/403936"><img width="150px"
                                        border="0" src="https://www.dachpedigrees.com/sites/default/files/XCwJ-Z1uko8.jpg"></a></div>
                            <div class="titles"><b></b></div>
                            <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Zwerg-dachshund
                                    (teckel) kurzhaar</i> </div>
                        </td>
                        <td rowspan="2" class="even">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/ai-bravushki-ambassador-nid/359509">Ai Bravushki Ambassador
                                </a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/ai-bravushki-ambassador-nid/359509"><img width="150px"
                                        border="0" src="https://www.dachpedigrees.com/sites/default/files/Ai-Bravushki-Ambassador-%D0%BD%D0%B0%D0%BB%D0%B5%D0%B2%D0%BE.jpg"></a>
                            </div>
                            <div class="titles"><b>MOLCH, RKFCH, RUSCH, RUSJCH, UKRCH</b></div>
                            <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Zwerg-dachshund
                                    (teckel) kurzhaar</i> </div>
                        </td>
                        <td class="maletwice">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/zhandarm-iz-sent-tropeza-nid/9498">ZHANDARM IZ
                                    SENT-TROPEZA</a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/zhandarm-iz-sent-tropeza-nid/9498"><img width="150px"
                                        border="0" src="https://www.dachpedigrees.com/sites/default/files/1_3.jpg"></a></div>
                            <div class="titles"><b>RUSCH, RUSJCH, FT-BL. TR.</b></div>
                            <div class="name" style="font-size: x-small;"> <i> red, <br>Zwerg-dachshund (teckel)
                                    kurzhaar</i> </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="odd">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/evdokiay-potapovna-nid/356030">Evdokiay Potapovna</a></div>
                            <div class="titles"><b></b></div>
                            <div class="name" style="font-size: x-small;"> <i> red, <br>Zwerg-dachshund (teckel)
                                    kurzhaar</i> </div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="odd">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/ketti-nid/391730">NOSTALGHI MOLLI</a></div>
                            <div class="titles"><b></b></div>
                            <div class="name" style="font-size: x-small;"> <i> red, <br>Zwerg-dachshund (teckel)
                                    kurzhaar</i> </div>
                        </td>
                        <td class="maletwice">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/zhandarm-iz-sent-tropeza-nid/9498">ZHANDARM IZ
                                    SENT-TROPEZA</a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/zhandarm-iz-sent-tropeza-nid/9498"><img width="150px"
                                        border="0" src="https://www.dachpedigrees.com/sites/default/files/1_3.jpg"></a></div>
                            <div class="titles"><b>RUSCH, RUSJCH, FT-BL. TR.</b></div>
                            <div class="name" style="font-size: x-small;"> <i> red, <br>Zwerg-dachshund (teckel)
                                    kurzhaar</i> </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="odd">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/ketti-nid/391730">KETTI</a></div>
                            <div class="titles"><b></b></div>
                            <div class="name" style="font-size: x-small;"> <i> red, <br>Zwerg-dachshund (teckel)
                                    kurzhaar</i> </div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="8" class="odd">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/naelti-bastina-nid/359485">Naelti Bastina </a></div>
                            <div class="titles"><b>RUSCH</b></div>
                            <div class="name" style="font-size: x-small;"> <i> Chocolate &amp; Tan Dapple,
                                    <br>Zwerg-dachshund (teckel) kurzhaar</i> </div>
                        </td>
                        <td rowspan="4" class="even">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-ya-espresso-meskott-nid/359513">Lisego Nosa Ya
                                    Espresso For Meskott</a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-ya-espresso-meskott-nid/359513"><img
                                        width="150px" border="0"
                                        src="https://www.dachpedigrees.com/sites/default/files/-%D1%8F-%D1%8D%D1%81%D0%BF%D1%80%D0%B5%D1%81%D1%81%D0%BE-%D0%B2-%D1%81%D1%82%D0%BE%D0%B9%D0%BA%D0%B5.jpg"></a></div>
                            <div class="titles"><b></b></div>
                            <div class="name" style="font-size: x-small;"> <i> Chocolate &amp; Tan Dapple,
                                    <br>Zwerg-dachshund (teckel) kurzhaar</i> </div>
                        </td>
                        <td rowspan="2" class="even">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/bonlon%E2%80%99s-slippin-n-sliden-cms-nid/11245">Bonlon’s
                                    Slippin n Sliden CMS</a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/bonlon%E2%80%99s-slippin-n-sliden-cms-nid/11245"><img
                                        width="150px" border="0"
                                        src="https://www.dachpedigrees.com/sites/default/files/BONLON%20SLIPPIN%20N%20SLIDEN.jpg"></a></div>
                            <div class="titles"><b></b></div>
                            <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Zwerg-dachshund
                                    (teckel) kurzhaar</i> </div>
                        </td>
                        <td class="even">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/bonlons-buds-you-nid/11247">Bonlons This Bud&#039;s For You
                                </a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/bonlons-buds-you-nid/11247"><img width="150px" border="0"
                                        src="https://www.dachpedigrees.com/sites/default/files/ms.jpg"></a></div>
                            <div class="titles"><b>AMCH</b></div>
                            <div class="name" style="font-size: x-small;"> <i> red, <br>Zwerg-dachshund (teckel)
                                    kurzhaar</i> </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="odd">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/bonlons-goin-baton-rouge-nid/11248">Bonlon&#039;s Goin To
                                    Baton Rouge</a></div>
                            <div class="titles"><b></b></div>
                            <div class="name" style="font-size: x-small;"> <i> <br>Zwerg-dachshund (teckel) kurzhaar</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="odd">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-terrakota-nid/301221">Lisego Nosa Terrakota</a>
                            </div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-terrakota-nid/301221"><img width="150px"
                                        border="0" src="https://www.dachpedigrees.com/sites/default/files/terra.jpg"></a></div>
                            <div class="titles"><b>BLRCH, EECH, RUSCH, RUSJCH, FT-FOX, FT-BL. TR.</b></div>
                            <div class="name" style="font-size: x-small;"> <i> Chocolate &amp; Tan Dapple,
                                    <br>Zwerg-dachshund (teckel) kurzhaar</i> </div>
                        </td>
                        <td class="maletwice">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-fantastic-nid/31">Lisego Nosa Fantastic</a>
                            </div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-fantastic-nid/31"><img width="150px" border="0"
                                        src="https://www.dachpedigrees.com/sites/default/files/lis-nosa-fantastic.jpg"></a></div>
                            <div class="titles"><b>INTCH(FCI), WW, EECH, FINCH, LTCH, LVCH, PLCH, RKFCH, RUSCH, RUSJCH,
                                    UKRCH, FT-FOX, FT-BL. TR.</b></div>
                            <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Kaninchen- dachshund
                                    (teckel) kurzhaar</i> </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="femaletwise">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/nee-pup-dachshaus-nid/301165">Nee Pup Dachshaus</a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/nee-pup-dachshaus-nid/301165"><img width="150px" border="0"
                                        src="https://www.dachpedigrees.com/sites/default/files/nee.jpg"></a></div>
                            <div class="titles"><b></b></div>
                            <div class="name" style="font-size: x-small;"> <i> Black &amp; Tan Dapple,
                                    <br>Zwerg-dachshund (teckel) kurzhaar</i> </div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4" class="odd">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/nael%E2%80%99ti-na-grebne-volny-nid/359540">Nael’ti Na
                                    Grebne Volny </a></div>
                            <div class="titles"><b></b></div>
                            <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Zwerg-dachshund
                                    (teckel) kurzhaar</i> </div>
                        </td>
                        <td rowspan="2" class="even">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-takoy-ozornik-nid/359548">Lisego Nosa TAKOY
                                    OZORNIK</a></div>
                            <div class="titles"><b>RUSCH</b></div>
                            <div class="name" style="font-size: x-small;"> <i> <br>Zwerg-dachshund (teckel) kurzhaar</i>
                            </div>
                        </td>
                        <td class="maletwice">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-fantastic-nid/31">Lisego Nosa Fantastic</a>
                            </div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-fantastic-nid/31"><img width="150px" border="0"
                                        src="https://www.dachpedigrees.com/sites/default/files/lis-nosa-fantastic.jpg"></a></div>
                            <div class="titles"><b>INTCH(FCI), WW, EECH, FINCH, LTCH, LVCH, PLCH, RKFCH, RUSCH, RUSJCH,
                                    UKRCH, FT-FOX, FT-BL. TR.</b></div>
                            <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Kaninchen- dachshund
                                    (teckel) kurzhaar</i> </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="femaletwise">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/nee-pup-dachshaus-nid/301165">Nee Pup Dachshaus</a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/nee-pup-dachshaus-nid/301165"><img width="150px" border="0"
                                        src="https://www.dachpedigrees.com/sites/default/files/nee.jpg"></a></div>
                            <div class="titles"><b></b></div>
                            <div class="name" style="font-size: x-small;"> <i> Black &amp; Tan Dapple,
                                    <br>Zwerg-dachshund (teckel) kurzhaar</i> </div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="odd">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/nael%E2%80%99ti-artemida-ohotnitsa-nid/391108">Nael’ti
                                    Artemida Ohotnitsa</a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/nael%E2%80%99ti-artemida-ohotnitsa-nid/391108"><img
                                        width="150px" border="0" src="https://www.dachpedigrees.com/sites/default/files/index.jpg"></a></div>
                            <div class="titles"><b>BLRJCH, RKFCH, RUSCH, FT-BL. TR.</b></div>
                            <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund
                                    (teckel) kurzhaar</i> </div>
                        </td>
                        <td class="even">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-artishok-kuzya-nid/27">Lisego Nosa ARTISHOK
                                    KUZYA</a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-artishok-kuzya-nid/27"><img width="150px"
                                        border="0" src="https://www.dachpedigrees.com/sites/default/files/%20%D0%BA%D1%83%D0%B7%D1%8F.jpg"></a></div>
                            <div class="titles"><b>INTCH(FCI), EECH, FINCH, LTCH, LVCH, RUSCH, FT-FOX, FT-BL. TR.</b>
                            </div>
                            <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund
                                    (teckel) kurzhaar</i> </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="odd">
                            <div class="name"><a href="https://www.dachpedigrees.com/dog/fenechka-iz-mishkinogo-doma-nid/354282">Fenechka Iz
                                    Mishkinogo Doma</a></div>
                            <div class="photo"><a href="https://www.dachpedigrees.com/dog/fenechka-iz-mishkinogo-doma-nid/354282"><img width="150px"
                                        border="0" src="https://www.dachpedigrees.com/sites/default/files/med_51d95c72e96f5.jpg"></a></div>
                            <div class="titles"><b>RUSCH</b></div>
                            <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund
                                    (teckel) kurzhaar</i> </div>
                        </td>
                    </tr>
                </table>
                <table width="100%">
                    <tbody>
                        <tr class="odd">
                            <td style="width: 50px;" class="femaletwise"></td>
                            <td>Female present twice in 4 generation pedigree</td>
                        </tr>
                        <tr class="even">
                            <td style="width: 50px;" class="maletwice"></td>
                            <td>Male present twice in 4 generation pedigree</td>
                        </tr>
                        <tr class="odd">
                            <td style="width: 50px;" class="femalethree"></td>
                            <td>Female present three times in 4 generation pedigree</td>
                        </tr>
                        <tr class="even">
                            <td style="width: 50px;" class="malethree"></td>
                            <td>Male present three times in 4 generation pedigree</td>
                        </tr>
                        <tr class="odd">
                            <td style="width: 50px;" class="femalefour"></td>
                            <td>Female present four times in 4 generation pedigree</td>
                        </tr>
                        <tr class="even">
                            <td style="width: 50px;" class="malefour"></td>
                            <td>Male present four times in 4 generation pedigree</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> <!-- /block-inner -->
