<section class="carmela-card">
    <div *ngIf="ejemplar" class="carmela-text">
        <h3>{{ ejemplar.nombre }}</h3>
        <p><b>{{ejemplar.titles}}</b></p>
        <p>Raza: {{ ejemplar.raza }}</p>
        <p>Color: {{ ejemplar.color }}</p>
        <p>Sexo: {{ ejemplar.sexo }}</p>
    </div>
    <div id="carouselExampleControls" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../img/CARMELA/20221210_132804.jpg" class="d-block carousel-image"
                    alt="{{ ejemplar.nombre }}">
            </div>
            <div class="carousel-item">
                <img src="../img/Fortuna/fortunaweb/01.jpg" class="d-block carousel-image" alt="{{ ejemplar.nombre }}">
            </div>
            <div class="carousel-item">
                <img src="../img/Fortuna/fortunaweb/800x600pul.jpg" class="d-block carousel-image"
                    alt="{{ ejemplar.nombre }}">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<div class="block-inner">

    <div class="content">
        <table class="dogspedigree">
            <tr>
                <td rowspan="8" class="even">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/viking-ii-iz-omskoi-kreposti-nid/423224">Viking II Iz Omskoi
                            Kreposti</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/viking-ii-iz-omskoi-kreposti-nid/423224"><img width="150px"
                                border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/14563509_1192666710795841_149620617476791136_n.jpg"></a></div>
                    <div class="titles"><b>INTCH(FCI), ESCH, GIBCH, PORCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Zwerg-dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td rowspan="4" class="even">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-nevsky-nid/394635">Lisego Nosa Nevsky</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-nevsky-nid/394635"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/bim_0.jpg"></a></div>
                    <div class="titles"><b>RUSJCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> Chocolate &amp; Tan Dapple, <br>Zwerg-dachshund
                            (teckel) kurzhaar</i> </div>
                </td>
                <td rowspan="2" class="even">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/criscross-defense-ms-nid/13450">Criscross For The Defense ms</a>
                    </div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/criscross-defense-ms-nid/13450"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/Criscross%20For%20The%20Defense%20ms.jpg"></a></div>
                    <div class="titles"><b>AMCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Zwerg-dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td class="even">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/criscross-meant-be-msc-nid/10767">CRISCROSS MEANT TO BE MSC</a>
                    </div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/criscross-meant-be-msc-nid/10767"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/CRISCROSS%20MEANT%20TO%20BE%20MSC.jpg"></a></div>
                    <div class="titles"><b>AMCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Zwerg-dachshund (teckel) kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/criscross-laurjosh-southern-song-ms-nid/13451">Criscross Laurjosh
                            Southern Song ms</a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td rowspan="2" class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-brogan-arish-cream-nid/390772">Lisego Nosa Brogan Arish
                            Cream</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-brogan-arish-cream-nid/390772"><img width="150px"
                                border="0" src="https://www.dachpedigrees.com/sites/default/files/3.jpg"></a></div>
                    <div class="titles"><b>RUSCH, RUSJCH, FT-BL. TR.</b></div>
                    <div class="name" style="font-size: x-small;"> <i> Chocolate &amp; Tan Dapple, <br>Kaninchen-
                            dachshund (teckel) kurzhaar</i> </div>
                </td>
                <td class="maletwice">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/muhomor-iz-omskoi-kreposti-nid/10365">Muhomor iz Omskoi Kreposti</a>
                    </div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/muhomor-iz-omskoi-kreposti-nid/10365"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/b3c5cf3777aa.jpg"></a></div>
                    <div class="titles"><b>INTCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-terrakota-nid/301221">Lisego Nosa Terrakota</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-terrakota-nid/301221"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/terra.jpg"></a></div>
                    <div class="titles"><b>BLRCH, EECH, RUSCH, RUSJCH, FT-FOX, FT-BL. TR.</b></div>
                    <div class="name" style="font-size: x-small;"> <i> Chocolate &amp; Tan Dapple, <br>Zwerg-dachshund
                            (teckel) kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td rowspan="4" class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/poprygunya-strekoza-iz-omskoi-kreposti-nid/10781">Poprygunya
                            strekoza iz Omskoi kreposti</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/poprygunya-strekoza-iz-omskoi-kreposti-nid/10781"><img
                                width="150px" border="0" src="https://www.dachpedigrees.com/sites/default/files/DSC03422%D0%B0%D0%B011.jpg"></a></div>
                    <div class="titles"><b>RKFCH, RUSCH, RUSJCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td rowspan="2" class="maletwice">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/muhomor-iz-omskoi-kreposti-nid/10365">Muhomor iz Omskoi Kreposti</a>
                    </div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/muhomor-iz-omskoi-kreposti-nid/10365"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/b3c5cf3777aa.jpg"></a></div>
                    <div class="titles"><b>INTCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td class="even">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/makov-tsvet-iz-omskoj-kreposti-nid/19">Makov Tsvet iz Omskoj
                            Kreposti</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/makov-tsvet-iz-omskoj-kreposti-nid/19"><img width="150px"
                                border="0" src="https://www.dachpedigrees.com/sites/default/files/tsvet.jpg"></a></div>
                    <div class="titles"><b>INTCH(FCI), MOLCH, RKFCH, RUSCH, RUSJCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td class="femaletwise">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/muha-tsokotukha-iz-omskoi-kreposti-nid/9572">Muha Tsokotukha iz
                            Omskoi Kreposti</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/muha-tsokotukha-iz-omskoi-kreposti-nid/9572"><img width="150px"
                                border="0" src="https://www.dachpedigrees.com/sites/default/files/1_15.jpg"></a></div>
                    <div class="titles"><b>INTCH(FCI), EUW, RKFCH, RUSCH, RUSJCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td rowspan="2" class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/makovoe-zernyshko-iz-omskoj-kreposti-nid/28">Makovoe Zernyshko iz
                            Omskoj Kreposti</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/makovoe-zernyshko-iz-omskoj-kreposti-nid/28"><img width="150px"
                                border="0" src="https://www.dachpedigrees.com/sites/default/files/mak2.jpg"></a></div>
                    <div class="titles"><b>RKFCH, RUSJCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td class="even">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-fantastic-nid/31">Lisego Nosa Fantastic</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/lisego-nosa-fantastic-nid/31"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/lis-nosa-fantastic.jpg"></a></div>
                    <div class="titles"><b>INTCH(FCI), WW, EECH, FINCH, LTCH, LVCH, PLCH, RKFCH, RUSCH, RUSJCH, UKRCH,
                            FT-FOX, FT-BL. TR.</b></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td class="femaletwise">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/muha-tsokotukha-iz-omskoi-kreposti-nid/9572">Muha Tsokotukha iz
                            Omskoi Kreposti</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/muha-tsokotukha-iz-omskoi-kreposti-nid/9572"><img width="150px"
                                border="0" src="https://www.dachpedigrees.com/sites/default/files/1_15.jpg"></a></div>
                    <div class="titles"><b>INTCH(FCI), EUW, RKFCH, RUSCH, RUSJCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td rowspan="8" class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/electra-de-brisas-del-arrayan-nid/474632">Electra de Brisas Del
                            Arrayan</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/electra-de-brisas-del-arrayan-nid/474632"><img width="150px"
                                border="0" src="https://www.dachpedigrees.com/sites/default/files/web_0.jpg"></a></div>
                    <div class="titles"><b>INTCH(FCI), ESCH, GIBCH, PORCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td rowspan="4" class="even">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/cheara-tres-colores-nid/474627">Cheara Tres Colores</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/cheara-tres-colores-nid/474627"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/rune.png"></a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> Black &amp; Tan Dapple, <br>Zwerg-dachshund
                            (teckel) kurzhaar</i> </div>
                </td>
                <td rowspan="2" class="even">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/ferrari-ot-dmitrievoi-nid/424986">FERRARI OT DMITRIEVOI</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/ferrari-ot-dmitrievoi-nid/424986"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/IMG_20201203_232829_0.jpg"></a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td class="even">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/formula-uspeha-whirlpool-nid/354093">Formula Uspeha Whirlpool</a>
                    </div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/formula-uspeha-whirlpool-nid/354093"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/11_6.jpg"></a></div>
                    <div class="titles"><b>INTCH(FCI), WW</b></div>
                    <div class="name" style="font-size: x-small;"> <i> red, <br>Zwerg-dachshund (teckel) kurzhaar</i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/ellada-ot-dmitrievoi-nid/424985">ELLADA OT DMITRIEVOI</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/ellada-ot-dmitrievoi-nid/424985"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/ELLADA%20OT%20DMTRIEVOI.jpg"></a></div>
                    <div class="titles"><b>INTCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td rowspan="2" class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/balenciaga-degli-aristobassi-nid/425964">Balenciaga Degli
                            Aristobassi</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/balenciaga-degli-aristobassi-nid/425964"><img width="150px"
                                border="0" src="https://www.dachpedigrees.com/sites/default/files/balenciaga.jpeg"></a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> Chocolate &amp; Tan Dapple, <br>Zwerg-dachshund
                            (teckel) kurzhaar</i> </div>
                </td>
                <td class="even">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/denar-dalgar-jamnicza-ostoja-nid/425963">DENAR DALGAR JAMNICZA
                            OSTOJA </a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Zwerg-dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/mirtilla-felcini-nid/405773">Mirtilla Felcini</a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Zwerg-dachshund (teckel) kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td rowspan="4" class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/gertrudis-de-la-buleria-nid/474631">Gertrudis de la Buleria</a>
                    </div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/gertrudis-de-la-buleria-nid/474631"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/principal.JPG"></a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Zwerg-dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td rowspan="2" class="even">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/duchwoods-no-bull-nid/474630">Duchwood&#039;s No Bull</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/duchwoods-no-bull-nid/474630"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/Captura%20de%20pantalla%202024-08-26%20095446.png"></a></div>
                    <div class="titles"><b>ESCH, RUSCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Zwerg-dachshund (teckel) kurzhaar</i> </div>
                </td>
                <td class="even">
                    <div class="name"><a href="">Dynadaux Hoky Tonk Barn Grill</a></div>
                    <div class="titles"><b>USACH</b></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Kaninchen- dachshund (teckel) kurzhaar</i>
                    </div></td>
            </tr>
            <tr>
                <td class="odd"><div class="name"><a href="">Duchwood's Slow Burn</a></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Kaninchen- dachshund (teckel) kurzhaar</i>
                    </div></td>
            </tr>
            <tr>
                <td rowspan="2" class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/patita-de-golage-nid/474629">Patita de Golage</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/patita-de-golage-nid/474629"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/principal.jpg"></a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> red, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td class="even">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/dream-dog-pro-euro-nid/396070">Dream Dog Pro-Euro</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/dream-dog-pro-euro-nid/396070"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/diriger.jpg"></a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Kaninchen- dachshund (teckel)
                            rauhhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/steffi-de-golage-nid/474628">Steffi de Golage</a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Kaninchen- dachshund (teckel) kurzhaar</i>
                    </div>
                </td>
            </tr>
        </table>
        <table width="100%">
            <tbody>
                <tr class="odd">
                    <td style="width: 50px;" class="femaletwise"></td>
                    <td>Female present twice in 4 generation pedigree</td>
                </tr>
                <tr class="even">
                    <td style="width: 50px;" class="maletwice"></td>
                    <td>Male present twice in 4 generation pedigree</td>
                </tr>
                <tr class="odd">
                    <td style="width: 50px;" class="femalethree"></td>
                    <td>Female present three times in 4 generation pedigree</td>
                </tr>
                <tr class="even">
                    <td style="width: 50px;" class="malethree"></td>
                    <td>Male present three times in 4 generation pedigree</td>
                </tr>
                <tr class="odd">
                    <td style="width: 50px;" class="femalefour"></td>
                    <td>Female present four times in 4 generation pedigree</td>
                </tr>
                <tr class="even">
                    <td style="width: 50px;" class="malefour"></td>
                    <td>Male present four times in 4 generation pedigree</td>
                </tr>
            </tbody>
        </table>
    </div>


</div> <!-- /block-inner -->