<section
  class="pedigree"
  *ngIf="pedigreeLevels.length"
>

  <div
    class="pedigree-column"
    *ngFor="let level of pedigreeLevels"
  >

    <div
      class="pedigree-card"
      *ngFor="let member of level"
      [ngClass]="getRepeatedClass(member)"
    >

      <ng-container *ngIf="member">

        <h4 class="name">
          {{ member.name }}
        </h4>

        <img
          [src]="getPhoto(member.photo)"
          [alt]="member.name"
        >

        <p class="titles">
          {{ member.titles }}
        </p>

        <small>
          {{ member.color }}
        </small>

        <small>
          {{ member.breed }}
        </small>

      </ng-container>

    </div>

  </div>

</section>
  
  
  
