.detail-container {

  display: flex;

  gap: 3rem;

  padding: 2rem;

  align-items: flex-start;

}

.info {

  flex: 1;

}

.image-container {

  flex: 1;

}

img {

  width: 100%;

  border-radius: 1rem;

}