/* styles.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: 100vh;
  background-image: url('/assets/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Header layout */
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
}


/* Redes sociales */
.social {
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s ease;
}

.social li a:hover {
  color: #444;
}

.social li a img{
  height: 40px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  height: 300px;
}
