<section class="fortuna-card">
    <div *ngIf="ejemplar" class="fortuna-text">
        <h3>{{ ejemplar.nombre }}</h3>
        <p><b>{{ejemplar.titles}}</b></p>
        <p>Raza: {{ ejemplar.raza }}</p>
        <p>Color: {{ ejemplar.color }}</p>
        <p>Sexo: {{ ejemplar.sexo }}</p>
    </div>
<div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../img/Fortuna/fortunaweb/principal.jpg" class="d-block carousel-image"
                alt="{{ ejemplar.nombre }}">
        </div>
        <div class="carousel-item">
            <img src="../img/Fortuna/fortunaweb/01.jpg" class="d-block carousel-image" alt="{{ ejemplar.nombre }}">
        </div>
        <div class="carousel-item">
            <img src="../img/Fortuna/fortunaweb/800x600pul.jpg" class="d-block carousel-image"
                alt="{{ ejemplar.nombre }}">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</section>
<div class="block-inner">
    <div class="content">
        <table class="dogspedigree">
            <tr>
                <td rowspan="8" class="even">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/maximiliam-de-campos-del-sur-nid/474626">Maximiliam de campos del
                            sur</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/maximiliam-de-campos-del-sur-nid/474626"><img width="150px"
                                border="0" src="https://www.dachpedigrees.com/sites/default/files/DSC_0385.jpg"></a></div>
                    <div class="titles"><b>INTCH(FCI), ESCH, GIBCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td rowspan="4" class="even">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/de-valdeliendo-el-cid-campeador-nid/474932">De valdeliendo el cid
                            campeador</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/de-valdeliendo-el-cid-campeador-nid/474932"><img width="150px"
                                border="0" src="https://www.dachpedigrees.com/sites/default/files/45931_1271990460227_4512335_n.jpg"></a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td rowspan="2" class="even">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/chelines-black-trufo-nid/474933">Chelines Black Trufo</a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td class="maletwice">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/duchwoods-no-bull-nid/474630">Duchwood&#039;s No Bull</a></div>
                    <div class="titles"><b>ESCH, RUSCH</b></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/duchwoods-no-bull-nid/474630"><img width="150px"
                        border="0" src="http://www.dachpedigrees.com/sites/default/files/Captura%20de%20pantalla%202024-08-26%20095446.png"></a></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Zwerg-dachshund (teckel) kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td class="odd">
                    <div class="name"><a href="">Shemby Chelines Trufa</a></div>
                    <div class="titles"><b>ESCH</b></div>
                    <div class="photo"><a href=""><img width="150px" border="0"
                                src=""></a></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div></td>
            </tr>
            <tr>
                <td rowspan="2" class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/rincon-de-iguna-cuba-nid/474934">Rincon de iguña cuba</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/rincon-de-iguna-cuba-nid/474934"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/abuela.jpg"></a></div>
                    <div class="titles"><b>WUT CH, PORCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td class="even">
                    <div class="name"><a href="">Shemby Chelines Cacao</a></div>
                    <div class="photo"><a href=""><img width="150px" border="0"
                                src=""></a></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div></td>
            </tr>
            <tr>
                <td class="odd">
                    <div class="name"><a href="">Lupi De Golage</a></div>
                    <div class="photo"><a href=""><img width="150px" border="0"
                                src=""></a></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div></td>
            </tr>
            <tr>
                <td rowspan="4" class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/jara-de-vinaswald-nid/474931">Jara de Viñaswald</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/jara-de-vinaswald-nid/474931"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/Sin%20t%C3%ADtulo.png"></a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td rowspan="2" class="even">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/ursus-vom-dinkelgrund-nid/474936">Ursus vom Dinkelgrund</a></div>
                    <div class="titles"><b>ESCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Kaninchen- dachshund (teckel) kurzhaar</i>
                    </div>
                </td>
                <td class="even">
                    <div class="name"><a href="">Denis vom Dinkelgrund</a></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Kaninchen- dachshund (teckel) kurzhaar</i>
                    </div>
            </tr>
            <tr>
                <td class="odd"><div class="name"><a href="">Milli vom Dinkelgrund</a></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Kaninchen- dachshund (teckel) kurzhaar</i>
                    </div></td>
            </tr>
            <tr>
                <td rowspan="2" class="odd">
                    <div class="name"><a href="/dog/ursula-de-vinaswald-nid/474937">Ursula de Viñaswald</a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Kaninchen- dachshund (teckel) kurzhaar</i>
                    </div>
                </td>
                <td class="even">
                    <div><a href="">Strike de Golage</a></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Kaninchen- dachshund (teckel) kurzhaar</i>
                    </div></td>
            </tr>
            <tr>
                <td class="odd">
                    <div><a href="">Engels Xelestinee</a></div>
                    <div class="titles"><b>ESCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Kaninchen- dachshund (teckel) kurzhaar</i>
                    </div></td>
            </tr>
            <tr>
                <td rowspan="8" class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/la-chocolatina-de-brisas-del-arrayan-nid/476120">La Chocolatina de
                            Brisas Del Arrayan</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/la-chocolatina-de-brisas-del-arrayan-nid/476120"><img width="150px"
                                border="0" src="https://www.dachpedigrees.com/sites/default/files/principal_0.jpg"></a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td rowspan="4" class="maletwice">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/chelines-fulgencio-garcia-nid/474708">Chelines Fulgencio Garcia</a>
                    </div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/chelines-fulgencio-garcia-nid/474708"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/caca02).jpg"></a></div>
                    <div class="titles"><b>INTCH, INTCH(FCI), ESCH, GIBCH, PORCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td rowspan="2" class="maletwice">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/chelines-black-tentation-nid/474707">Chelines Black Tentation</a>
                    </div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/chelines-black-tentation-nid/474707"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/foton.png"></a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td class="maletwice">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/duchwoods-no-bull-nid/474630">Duchwood&#039;s No Bull</a></div>
                    <div class="titles"><b>ESCH, RUSCH</b></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/duchwoods-no-bull-nid/474630"><img width="150px"
                        border="0" src="http://www.dachpedigrees.com/sites/default/files/Captura%20de%20pantalla%202024-08-26%20095446.png"></a></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Zwerg-dachshund (teckel) kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/shemby-chelines-trufa-nid/476126">Shemby Chelines Trufa</a></div>
                    <div class="titles"><b>ESCH</b></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/shemby-chelines-trufa-nid/476126"><img width="150px"
                        border="0" src="http://www.dachpedigrees.com/sites/default/files/Captura%20de%20pantalla%202024-08-26%20095452.png"></a></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Zwerg-dachshund (teckel) kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td rowspan="2" class="femaletwise">
                    <div class="name"><a href="/dog/chelines-la-chocolatina-nid/474706">Chelines La Chocolatina</a>
                    </div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td class="even">
                    <div class="name"><a href="">Donnadoon Distant Dreams</a></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Zwerg-dachshund (teckel) kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td class="odd">
                    <div class="name"><a href="">Berta de la Gallarda</a></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Zwerg-dachshund (teckel) kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td rowspan="4" class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/eva-de-la-buleria-nid/476121">Eva de la buleria</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/eva-de-la-buleria-nid/476121"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/GetAttachment.jpg"></a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> red, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td rowspan="2" class="maletwice">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/chelines-fulgencio-garcia-nid/474708">Chelines Fulgencio Garcia</a>
                    </div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/chelines-fulgencio-garcia-nid/474708"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/caca02).jpg"></a></div>
                    <div class="titles"><b>INTCH, INTCH(FCI), ESCH, GIBCH, PORCH</b></div>
                    <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td class="maletwice">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/chelines-black-tentation-nid/474707">Chelines Black Tentation</a>
                    </div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/chelines-black-tentation-nid/474707"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/foton.png"></a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td class="femaletwise">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/chelines-la-chocolatina-nid/474706">Chelines La Chocolatina</a>
                    </div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> brown&amp;tan, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td rowspan="2" class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/patita-de-golage-nid/474629">Patita de Golage</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/patita-de-golage-nid/474629"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/principal.jpg"></a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> red, <br>Kaninchen- dachshund (teckel)
                            kurzhaar</i> </div>
                </td>
                <td class="even">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/dream-dog-pro-euro-nid/396070">Dream Dog Pro-Euro</a></div>
                    <div class="photo"><a href="https://www.dachpedigrees.com/dog/dream-dog-pro-euro-nid/396070"><img width="150px" border="0"
                                src="https://www.dachpedigrees.com/sites/default/files/diriger.jpg"></a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> black&amp;tan, <br>Kaninchen- dachshund (teckel)
                            rauhhaar</i> </div>
                </td>
            </tr>
            <tr>
                <td class="odd">
                    <div class="name"><a href="https://www.dachpedigrees.com/dog/steffi-de-golage-nid/474628">Steffi de Golage</a></div>
                    <div class="titles"><b></b></div>
                    <div class="name" style="font-size: x-small;"> <i> <br>Kaninchen- dachshund (teckel) kurzhaar</i>
                    </div>
                </td>
            </tr>
        </table>
        <table width="100%">
            <tbody>
                <tr class="odd">
                    <td style="width: 50px;" class="femaletwise"></td>
                    <td>Female present twice in 4 generation pedigree</td>
                </tr>
                <tr class="even">
                    <td style="width: 50px;" class="maletwice"></td>
                    <td>Male present twice in 4 generation pedigree</td>
                </tr>
                <tr class="odd">
                    <td style="width: 50px;" class="femalethree"></td>
                    <td>Female present three times in 4 generation pedigree</td>
                </tr>
                <tr class="even">
                    <td style="width: 50px;" class="malethree"></td>
                    <td>Male present three times in 4 generation pedigree</td>
                </tr>
                <tr class="odd">
                    <td style="width: 50px;" class="femalefour"></td>
                    <td>Female present four times in 4 generation pedigree</td>
                </tr>
                <tr class="even">
                    <td style="width: 50px;" class="malefour"></td>
                    <td>Male present four times in 4 generation pedigree</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>